html {
    height: 100%;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Impact,Arial,sans-serif;
    background-color:antiquewhite;
    display:flex;
    justify-content:center;
    align-items:center;

}

.container {
    height: 100%;
    box-sizing: border-box;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    padding:25px;
}

h1{
    color:#0f228a;
    margin:10px;
}

.game-info{
    display:flex;
    flex-direction: column;
    margin:50px;
    justify-content:space-between;
    align-items:center;
}

.player-turn{
    font-size:1.2em;
    margin:20px;
}

#reset-button {
    margin:20px;
    padding: 5px 10px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#reset-button:hover {
    background-color: #45a049;
}


#hex-board{
    display:inline-block;
    position:relative;
    padding:20px;
    background-color:rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.hex-row{
    display:flex;
    margin-top:-11.5px;
}

.label-cell{
    width: 43px;
}

.label-cell{
    color:blue;
}
.label-cell:not(:empty):not(:nth-child(1)):not(:last-child) {
    color:red;
}

.hex-cell {
    width: 40px;
    height: 46.19px;
    background-color: #ddd;
    margin: 1px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    margin-left: 1.9px;
  }

  .hex-cell:hover {
    background-color: #ccc;
}

.hex-cell.red {
    background-color: #ff4444;
}

.hex-cell.blue {
    background-color: #4444ff;
}

.hex-cell.occupied {
    cursor: not-allowed;
}

.hex-cell.occupied:hover {
    background-color: inherit;
} 